@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@500&family=Roboto+Flex:opsz,wght@8..144,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100&display=swap');


body {
    font-family: 'Roboto Flex', sans-serif;
    background-color: #f2f2f2;
    margin: 0 0;


}

p {
    color: #202959;
    line-height: 150%;
    letter-spacing: 1px;
}

a {
    font-family: 'Roboto Flex', sans-serif;
    color: #202959;
    text-decoration: none;
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #f1f1f1;
    line-height: 150%;
    letter-spacing: 1px;
}

h2 {
    font-family: 'Roboto Flex', sans-serif;
    color: #202959;
    line-height: 150%;
    letter-spacing: 1px;
}

h3 {
    font-family: 'Roboto Flex', sans-serif;
    color: #202959;
    line-height: 150%;
    letter-spacing: 1px;
}

h4 {
    font-family: 'Roboto Flex', sans-serif;
    color: #202959;
    line-height: 150%;
    letter-spacing: 1px;
}




.sidenav {
    position: fixed;

    height: 100%;
    box-shadow: 4px 0px 15px black;
    top: 0;
    left: 0;
    text-decoration: none;

    background-color: #3D4DA8;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.sidenav div {
    margin-top: 2vh;
}

.logo {
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;

}

.sidenav p {
    color: #f1f1f1;
    font-weight: lighter;
}

.login {}



.login a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;


}

.login svg {
    height: 50px;
    width: 50px;
}


.container {

    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.sidenavContainer {

    padding: 5px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;



}


.sidenavContainer section {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;


}

.sidenavContainer section div {
    border-radius: 5px;
    padding: 10px;

}

.sidenavContainer section div:hover {
    background-color: #232D67;

}


.sidenav a {
    color: #f2f2f2;
    font-size: 1.2rem;
    width: 100%;


}


.sidenav h2 {
    color: #f2f2f2;
    font-size: 1.2rem;

}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #313E86;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 0 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}












header {

    height: 200px;
    width: 100%;



    background-image: url(../images/cube_background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    display: flex;
    flex-direction: column;
    justify-content: end;

}

header div {

    margin-left: 300px;
}


main {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    padding: 50px 0;


    width: 65vw;

}

main h1 {
    color: #202959;
}


.containerMain {


    display: flex;
    flex-direction: column;
    align-items: end;

}




.collapsible {
    background-color: #ffffff;
    color: #202959;
    cursor: pointer;
    padding: 18px;

    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;

}

.active,
.collapsible:hover {
    background-color: #f2f2f2;
    border: solid 1px #202959;
}



.content {
    margin: 5px;
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}








footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #E5E5E5;


}

footer section {
    display: flex;
    gap: 30px;
}



/* style for bezoek-form */

button {
    padding: 5px;
    border: none;
    background: none;
    border: solid 1px black;
    border-radius: 3px;
    background: #F28705;
    color: white;
}



form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}





.dateTimeContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 350px;
}


input[type="date"] {
    margin: 0px 20px 0px 5px;
}


select[type="time"] {
    flex: 1;
    border: none;
    padding: 5px;

    background-color:#f2f2f2;
}

select[type="time"]:focus {
    outline: none;

}



select[type="time"] option {
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 3px;
    text-align: right;
    color: #202959;

    display: flex;
    justify-content: space-between;
    align-items: center;

}







select[type="time"] option:hover {
    background-color: #E5E5E5;
}

select[type="time"] option:checked {
    border: #202959 solid 1px;
    background-color: white;
    box-shadow: 0px 0px 4px 0px black;    
}



label {
    display: flex;
}



label div {
    flex: 1;
    height: 30px;


}

label input {
    flex: 1;


    padding-left: 1rem;
}








{box-sizing: border-box;}



/* The popup form - hidden by default */
.form-popup {
  display: flex;
  position:absolute;
  
  right: 150px;

  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 30px 30px 50px 30px;
  border: #202959 solid 1px ; 
  border-radius: 10px;
  background-color: white;

  display: flex;
  flex-direction: column;
  gap: 10px;

  color: #202959;
}

.form-container h2 {
    margin-bottom: 0;
    padding-bottom: 0;;
}




/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
  width: 25px;
  height: 25px;
  align-self: flex-end;
}

.confirm {
    margin-top:20px;
}


/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}