@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@500&family=Roboto+Flex:opsz,wght@8..144,500&display=swap');

body {
    font-family: 'Roboto Flex', sans-serif;
    background-color: #f2f2f2;
    margin: 0 0;


}

p {
    color: #202959;
}

a {
    font-family: 'Roboto Flex', sans-serif;
    color: #202959;
    text-decoration: none;
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #202959;
}

h2 {
    font-family: 'Roboto Flex', sans-serif;
    color: #202959  ;
}

h3 {
    font-family: 'Roboto Flex', sans-serif;
    color: #202959;
}

h4 {
    font-family: 'Roboto Flex', sans-serif;
    color: #202959;
}




.sidenav {
    position: fixed;

    height: 100%;
    box-shadow: 4px 0px 15px black;
    top: 0;
    left: 0;
    text-decoration: none;

    background-color: #3D4DA8;


    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.sidenavContainer div {
    margin-top: 5vh;    
}


.logo {
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;

}

.login svg{
    height: 50px;
}

.login a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;

    
}

.sidenavContainer {

    padding: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    
    
}

.sidenav a {
    color: #F2F2F2;
    font-size: 1.2rem;
}

.sidenav h2 {
    color: #F2F2F2;
    font-size: 1rem;
}

.container {

    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;






}

header {

    width: 100%;
    height: 200px;
    background-image: url(/images/cube_background.png);


}

main {
    padding-left: 300px;
    display: flex;
    flex-direction: column;
    
}

.containerMain {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    width: 70vw;

    
}


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #E5E5E5;


}

footer section {
    display: flex;
    gap: 30px;
}




.collapsible {
    background-color: #202959;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;

}

.active, .collapsible:hover {
    background-color: #1b1257;
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}
