@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@500&family=Roboto+Flex:opsz,wght@8..144,500&display=swap');

body {
    font-family: 'Roboto Flex', sans-serif;
    background-color: #F2F2F2;
    display: flex;

}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #202959;
}

h2 {
    font-family: 'Roboto Flex', sans-serif;
    color:  #F2F2F2;
    background-color: #202959;
}

h3 {
    font-family: 'Roboto Flex', sans-serif;
    color: #202959;
}

h4 {
    font-family: 'Roboto Flex', sans-serif;
    color: #202959;
}

.sidenav {
    border: 2px black;
    background: red;
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
